
{% extends "layout.html" %}
{% block content %}
  {% if current_user.is_authenticated %}
    <div class="card">
      <h1 class="article-title m-3">Hello {{ current_user.username  }}! Here is the latest!</h1>
      {% for post in posts.items %}
          <article class="media content-section m-4">
            <img src="{{ url_for('static', filename='profile_pictures/' + post.author.image_file)  }}" class="rounded-circle article-img"> 
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d')}}</small>
              </div>
              <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
              <p class="article-content">{{ post.content }}</p>
            </div>
          </article>
      {% endfor %}
    </div>
    <!-- <div class="card mt-2"> -->
      {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if posts.page == page_num %}
            <a href="{{ url_for('main.home', page=page_num) }}" class="btn btn-secondary mb-4">{{ page_num }}</a>
            {% else %}
            <a href="{{ url_for('main.home', page=page_num) }}" class="btn btn-dark mb-4">{{ page_num }}</a>
            {% endif %}
          {% else %}
            --
          {% endif %}
        {% endfor %} 
      <!-- </div> -->
    {% else  %} 
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">Kenji</small>
            </div>
            <h1 class="article-title">Hello World!</h1>
            <h4 class="mr-2">This is a simple Flask Blog! To see something other than this message, either <a href="{{ url_for('users.login')  }}">Log-In</a> or <a href="{{ url_for('users.register') }}">Register now!</a>></h4>
          </div>
        </article>
    {% endif %}
{% endblock content %}